<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aston_lesson_2"
        tools:targetApi="31">
        <activity
            android:name=".lesoon_22homework.ExampleActivity"
            android:exported="false" />
        <activity
            android:name=".lesson_22.challenge.SelectActivity"
            android:exported="false" />
        <activity
            android:name=".lesson_22.challenge.ListActivity"
            android:exported="false" />
        <activity
            android:name=".lesson_21.homework_21.DosActivity"
            android:exported="false" />
        <activity
            android:name=".lesson_21.homework_21.UnoActivity"
            android:exported="false" />
        <activity
            android:name=".lesson_21.lesson_21_task.Lesson21Task1Activity"
            android:exported="false" />
        <activity
            android:name=".lesson_21.lesson_21_task.Lesson21Task2Activity"
            android:exported="false" />
        <activity
            android:name=".lesson_21.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".lesson_21.FirstActivity"
            android:exported="false" />
        <activity
            android:name=".lesson_13.Lesson13Activity"
            android:exported="false" />
        <activity
            android:name=".lesson_12_B.Lesson12BActivity"
            android:exported="false" />
        <activity
            android:name=".lesson_12_A.Lesson12Activity"
            android:exported="false" />
        <activity
            android:name=".lesson_11.Lesson11Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>